.demo {
    border: 1px solid #ececeb;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #e2bc1b;
    box-shadow: 5px 5px 5px #ccc;
}
body {
    margin: 0;
    height: 120vh;
    box-sizing: border-box;
}